<!--
<div>
  <div class="banner-card">
  <div class="photo-publisher">
  <img src="" alt="">
</div>
<h3>user name</h3>
  </div>
    <div class="photo">
  </div>
<div class="name-description">
  <h2>description</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque officiis a excepturi tempore nihil ut.</p>
</div>
  <button>BOOK</button>
  <button>SEE MORE</button>
</div>
-->
<h1>Nos Terrains</h1>

<% @lands.each do |land| %>
<div class="card" style="width: 18rem;">
  <!--<img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">
    <h5 class="card-title">Localisation: <%= land.location %></h5>
    <p class="card-text">superficie: <%= land.area %>m²</p>
    <p><%= land.price %>€/mois</p>
    <a href="#" class="btn btn-primary">En savoir plus</a>
  </div>
</div>
<% end %>
