<%# Repartions des taches
Moise trouver comment ont met une alerte
Karoline trouver comment rendre la Nav Bar un component ?????
Barbara Aider Karoline
Alexandre : show Booking
%>

<div class="container">
<div class="row">
<div class="col bg-info col-12ail">C</div>
<div class="col bg-info">B</div>
<div class="col bg-info">A</div>
</div>
</div>
